<div class="container">
    <div class="row">
      <div class="col-4 bg-light m-auto">
        <h1 class="text-center">Cadastro de Produtos</h1>
        <form>
          <div class="mb-3 row">
            <div class="col">
              <label for="id" class="form-label">ID</label>
              <input type="text" class="form-control" id="id" name="id">
            </div>
            <div class="col">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome">
            </div>
          </div>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
          </div>
          <div class="mb-3 row">
            <div class="col">
              <label for="preco" class="form-label">Preço</label>
              <input type="text" class="form-control" id="preco" name="preco">
            </div>
            <div class="col">
              <label for="quantidade" class="form-label">Quantidade</label>
              <input type="text" class="form-control" id="quantidade" name="quantidade">
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
      </div>
    </div>
  </div>