<div class="container bg-secondary bg-light p-4">

  <div class="row">
    <div class="col-7 m-auto">
      <form>
        <div class="mb-3">
          <label for="matricula" class="form-label">matricula</label>
          <input type="text" class="form-control" id="matricula" name="matricula" />
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label">nome</label>
          <input type="text" class="form-control" id="nome" name="nome" />
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">curso</label>
          <input type="text" class="form-control" id="curso" name="curso" />
        </div>
        <div>
          <button type="Salvar" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
    </div>
  </div>




  
